/* pc */
@media(min-width: 1024px) {
    
    
}

/* tablet */
@media(min-width: 721) and(max-width: 1023) {
    
}

/* mobile */
@media(max-width: 720px) {

    .s-mt8{
        margin-top: 8px;
    }

    .contact-form{
        margin-top: 16px;
    }

    .s-col-full{
        width: 100%;
    }

    #nav {
        display: block;
    }

    #nav .subnav {
        position: initial;
        background-color: #333;
    }

    #nav .subnav a{
        color: #fff;
        padding: 5px 41px;
    }

    #nav > li {
        display: block;
    }

    #nav  li a{
        padding: 1px 24px ;
    }

    #nav > li:first-child{
        display: inline-block;
    }

    #header .search-btn {
        display: none;
    }

    #header .menu-btn {
        display: block;
    }

    #header{
       overflow: hidden;
    }

    .member-item{
        width: 100%;
        padding-top: 30px;
    }

    #content .member-img {
        width: 60%;
    }

}